* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --main-bg-clr: #EEEEEE;
    --sidebar-bg-clr: lightgray;
    --padding-hrz: 36px;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

body{
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--sidebar-bg-clr);
    width: min(800px, 40%);
    padding: 12px 0px;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar a {
    color: lightcoral;
}

.logo {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: -66%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: white;
}

.credit {
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--main-bg-clr);
    gap: 36px;
}

form {
    background-color: white;
    padding: 12px 36px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1) 
}

h3 {
    margin-top: 12px;
    font-size: 1.6rem;
}

.hero {
    font-size: 1.6rem;
    max-width: 1200px;
    padding-left: var(--padding-hrz);
    padding-right: 64px;
    font-weight: bold;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    gap: 32px;
}

label {
    font-size: 0.8rem;
}

.field {
    display: flex;
    flex-direction: column;;
}

.submit {
    padding-left: var(--padding-hrz);
}

section.hero p {
    margin-bottom: 32px;
}

input {
    width: 250px;
    height: 2rem;
    font-size: 1rem;
    border: 1px #E5E7EB solid;
}

input:focus {
    outline: none;
    border: 1px blue solid;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px lightgray;
}

input:user-invalid {
    outline: none;
    border: 1px red solid;
}

button {
    padding: 12px 36px;
    font-size: 1.2rem;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0px lightgray;
    margin-bottom: 24px;
}

button:focus {
    outline: none;
    outline: 2px black solid;
}

form:invalid ~ section button{
    background-color: gray;
}