* {
    padding: 0;
    margin: 0;

    --main-bg-clr: #EEEEEE;
    --sidebar-bg-clr: lightgray;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

body{
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-bg-clr);
    width: min(400px, 33%);
}

.logo {
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-size: 2rem;
}

main {
    flex-grow: 1;
    background-color: var(--main-bg-clr);
}